<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Email List</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      defer
    ></script>
    <!-- Style  -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Axios -->
    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>
    <!-- Vue -->
    <script
      src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"
      defer
    ></script>
    <!-- MyJavascript -->
    <script src="js/app.js" defer></script>
  </head>
  <body>
    <div class="container" id="app">
      <ul>
        <li v-if="arrEmail.length === 10" v-for="email in arrEmail">
          {{ email }}
        </li>
      </ul>
    </div>
  </body>
</html>
